*{font-size:12px;}

a:link , a:visited{ color:#000;text-decoration:none}
a:hover{ color:blue;}

h1{font-size:18px;}

li{line-height:24px;}

#Box {
    width:960px;
    margin:auto;
    border:0;
}

#Main {
    width:100%;
    padding:20px;
}

.info td{
    height:20px;
    line-height:20px;
    padding:5px;
}

.left {
    text-align:left;
}

.center {
    text-align:center;
}