*{font-size:14px;}

h1{font-size:18px;}

li{height:20px;line-height:20px;}

#Box {
    width:960px;
    margin:auto;
    border:0;
}

#Main {
    width:100%;
    padding:20px;
}

.info{
    height:24px;
    line-height:24px;
    text-align:center;
}

.left {
    text-align:left;
}